body {
	background:
		linear-gradient(27deg, #FCC415 1px, transparent 1px) 0 1px,
		linear-gradient(27deg, #FCC415 1px, transparent 1px) 0 1px,
		linear-gradient(115deg, #FFF9D3 1px, transparent 1px);

	background:
		-webkit-linear-gradient(27deg, #FCC415 1px, transparent 1px) 0 1px,
		-webkit-linear-gradient(27deg, #FCC415 1px, transparent 1px) 0 1px,
		-webkit-linear-gradient(115deg, #FFF9D3 1px, transparent 1px);

	background-color: #FFF9D3;
	background-size: 10px 10px;
	color: #5F4936;
	font-size: 16px;
	font-family: 'Arvo', serif;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	color: inherit;
	font: inherit;
	margin: 0;
	padding: 0;
	text-decoration: inherit;
}

p {
	line-height: 1.5em;
	margin-bottom: 0.5em;
}

ul {
	list-style: none;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.menu, .footer {
	background-color: #5F4936;
	border-bottom: 5px solid #91B8A5;
	border-top: 5px solid #91B8A5;
}

.menu {
	font-size: 2rem;
	margin: .5em 0 1em;
}

.menu .section {
	color: #979899;
	display: inline-block;
	font-family: 'Schoolbell', cursive;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	text-decoration: none;
	text-transform: capitalize;
}

.menu .section:first-child {
	margin-left: 0;
}

.menu .section.active, .menu .section:hover, .contacts {
	color: #C1D4E7;
}

.section {
	margin-bottom: 2.5em;
	padding: 0 1%;
}

.section-title {
	border-bottom: 1px solid #91B8A5;
	clear: both;
	display: block;
	margin-bottom: 1.75em;
	width: 100%;
}

.title {
	border-bottom: 5px solid #91B8A5;
	display: inline-block;
	font-size: 2em;
	padding-bottom: 0.25em;
}

.description {
	margin-bottom: 2em;
}

.me {
	font-size: 1.75rem;
	font-style: italic;
	margin-bottom: 0.5em;
	text-transform: uppercase;
}

.graduations {
	display: block;
	font-size: 1.25rem;
	margin-bottom: 1em;
}

.footer {
	margin-top: 10em;
	padding: 2em 0;
}

.contacts {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
